.App {
    height: 40vmin;
}

.Add-note {
    display: flex;
    justify-content: end;
}

.btn-add {
    border-radius: 20%;
}

.descript span {
    color: #4b0082;
}
.title span {
    color: #9B26B6;
}